a {
    color: #3a4961;
    text-decoration: none;
}

a:visited, a:hover, a:focus, a:hover, a:active{
    text-decoration: none;
    color: white;
}

.banner {
    display: inline;
    margin: 20px;
    padding: 5px;
    height: 10px;
    width: 30px;
    font-size: xx-large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: cadetblue;
}

.flex-container {
    display: flex;
    flex: 1 1 100%;
    flex-flow: row wrap;
    background-color: #3a4961;
    margin: 20px;
}

.flex-container h1 {
    margin: 20px 20px 20px 80px;
    background-color: #52a8bf;
    padding: 10px;
    font-size: 2em;
    color: #3a4961;
}

.flex-container ul {
    display: flex;
    flex-flow: row wrap;
    margin-left: 470px;
    padding: 5px;
    align-items: center;
}

.flex-container ul li {
    margin: 15px;
    padding: 5px;
    font-size: larger;
    color: #3a4961
}


.info-box {
    display: flex;
    margin: 20px;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}

footer.info-box {
    margin: 20px;
    padding: 10px;
    font-size: 2em;
}

.info-box ul {
    display: flex;
    flex-flow: row wrap;
    margin-left: 470px;
    padding: 5px;
    align-items: center;
}

.info-box ul li {
    margin: 15px;
    padding: 5px;
    font-size: 1em;
}

section h2,  footer h2 {
    margin-left: 80px;
    border-right: 2px solid black;
    padding: 10px;
    font-size: 1.5em;
    align-items: center;
}

section p {
    margin: 25px;
    font-size: 14pt;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    margin: 20px;
}

.img-column {
    display: flex;
    flex-flow: row wrap;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
    max-width: 100px;
}


.img-card {
    flex: 1 0 100%;
    padding: 0px 5px 5px 5px;
    transition: all 0.5s ease-in-out;
}

.img-card:first-child :hover {
    opacity: 60%;
    flex-grow: 3;
}
/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {

}

/* media query for larger screens */
@media screen and (min-width: 992px) {

}