.flex-container {
    display: flex;
    background-color: limegreen;
    margin: 20px;
}

.flex-container h1 {
    margin: 20px 20px 20px 80px;
    padding: 10px;
    font-size: 2em;
}

.flex-container ul {
    display: flex;
    flex-direction: row;
    margin-left: 470px;
    padding: 5px;
    align-items: center;
}

.flex-container ul li {
    margin: 15px;
    padding: 5px;
}

.info-box {
    display: flex;
    background-color: red;
    margin: 20px;
    align-items: center;
}

section h2 {
    margin-left: 80px;
    border-right: 2px solid black;
    padding: 10px;
    font-size: 1.5em;
    align-items: center;
}

section p {
    margin: 25px;
    font-size: 14pt;
}

.flex-row {
    display: flex;
    flex-flow: row wrap;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
}

.img-column {
    display: flex;
    align-items: center;
    flex: 1 0 100%;
    /* when the screen resizes, make it so our columns don't jump in size */
    transition: flex-basis 500ms linear;
    margin-bottom: 1.5rem;
    max-width: 100px;
    max-height: 100px;
}


.img-card {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 100%;
    padding: 0px 5px 5px 5px;
    transition: all 0.5s ease-in-out;
}
/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {

}

/* media query for larger screens */
@media screen and (min-width: 992px) {

}